@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
#root {
  height: 100vh;
  text-align: center;
}

.tabStyle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checked {
  color: green;
}
